{% extends 'base/detached-layout/datables.html' %}

{% load static %}

{% block nav_content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Mitra</a></li>
                    <li class="breadcrumb-item active">Alokasi Mitra</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>  
</div>     

{% endblock nav_content %}


{% block table-content %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-danger d-none" id="msgs-upload" role="alert">   
           
            <div id="messages-content">
             
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Alokasi Mitra</h4>
                <p class="text-muted font-14">
                    Alokasi Mitra berisi informasi beban tugas mitra untuk setiap kegiatan yang pernah diikuti di BPS Kabupaten Muna. 
                </p>
  
                <ul class="nav nav-tabs nav-bordered mb-3">
                      <li class="nav-item">
                          <a href="#alokasi-preview" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                              Preview
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#input-tab" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                              Input
                          </a>
                      </li>

                      <li class="nav-item d-none" id="nav-item-import">
                        <a href="#import-tab" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                            Import
                        </a>
                      </li>

                </ul> <!-- end nav-->
                <div class="tab-content">
                      <div class="tab-pane show active" id="alokasi-preview">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <a href="#offcanvasFilter"  data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasFilter" class="btn btn-danger mb-2"><i class="mdi mdi-filter-menu me-2"></i> Filter Data</a>
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-sm-end">
                                        <button type="button" class="btn btn-success mb-2 me-1" id="redraw-table"><i class="mdi mdi-refresh"></i></button>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light dropdown-toggle mb-2 me-1" data-bs-toggle="dropdown" aria-expanded="false"> Tambah <span class="caret"></span> </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{% url 'master_petugas:index' %}#input-tab">Mitra Baru</a>
                                                <a class="dropdown-item" href="{% url 'master_survei:index' %}#input-tab">Survei Baru</a>
                                                <a class="dropdown-item" href="{% url 'master_petugas:role' %}">Role / Jabatan</a>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-light mb-2 me-1" data-bs-toggle="modal" data-bs-target="#import-modal">Import</button>
                                        <a href="{% url 'master_petugas:export-alokasi' %}" class="btn btn-light mb-2">Export</a>
                                    </div>
                                </div><!-- end col-->
                            </div>
                            <div class="table-responsive">
                                <table id="basic-datatable" class="table table-centered table-striped w-100 dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Kode Mitra</th>
                                            <th>Nama Mitra</th>
                                            <th>Kegiatan Survei</th>
                                            <th>Jabatan</th>
                                            <th></th>
                                           
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                      
                                    </tbody>
                                </table>                                            
                            </div>
                      </div> <!-- end preview-->
                
                      <div class="tab-pane" id="input-tab">
                          <p>Silahkan isikan data Peserta.</p>
                          <form action="{% url 'master_petugas:alokasi' %}" method="POST" id="formAlokPetugas" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_id">
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <h5 class="mb-3"></h5>
                                    <div class="form-floating errors" id="form_{{form.petugas.id_for_label}}">
                                        <select name="petugas" id="{{ form.petugas.id_for_label }}" class="form-select">
                                            <option value="">---------</option>
                                            {% for dt in data_mitra  %}
                                            <option value="{{dt.id}}">[{{dt.kode_petugas}}] {{dt.nama_petugas}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="{{form.petugas.id_for_label}}">{{ form.petugas.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.petugas.id_for_label}}">
                                        </div>
                                    </div>
                                    
                                    <h5 class="mb-3 mt-4">{{ form.role.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.role.id_for_label}}">
                                        {{form.role}}
                                        <label for="{{form.role.id_for_label}}">{{ form.role.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.role.id_for_label}}">
                                        </div>
                                    </div>

                                </div>
                            
                                <div class="col-lg-6">
                                    <h5 class="mb-3">{{ form.survey.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.survey.id_for_label}}">
                                        {{form.survey}}
                                        <label for="{{form.survey.id_for_label}}">{{ form.survey.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.survey.id_for_label}}">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <div class="row mt-2">
                                <div class="col-lg">        
                                     <button type="submit" class="btn btn-primary" id="submitformAlokPetugas">Kirim Data</button>
                                     <button type="button" class="btn btn-danger" id="ResetformAlokPetugas">Reset</button>
                                </div>
                            </div>
                        
                        </form>
                      </div> <!-- end preview code-->

                    <div class="tab-pane" id="import-tab">
                        <h5>Preview File Upload</h5>

                        <div class="table-responsive">
                            <table id="preview-data-upload" class="table table-hover w-100 dt-responsive nowrap">
                                <thead>
                                  <tr>
                                    <td></td>
                                  </tr>
                                </thead>
                            
                                <tbody>
                                 
                                </tbody>
                            </table>                                            
                        </div>

                        <div class="row mb-2 mt-2">
                            <div class="col-sm-6">
                                <a href="" role="button" class="btn btn-danger mb-2">Back</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end">
                                    <button type="button" class="btn btn-success mb-2 me-1" id="confirm-submit-file"><i class="mdi mdi-send-check"></i> Upload File</button>
                                </div>
                            </div><!-- end col-->
                        </div>
                        
                    </div> <!-- end preview-->
                    
                </div> <!-- end tab-content-->
  
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
  </div>
  <!-- end row-->
  
  
<div id="import-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="compose-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="compose-header-modalLabel">Import Alokasi Petugas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="p-1">
                <div class="modal-body px-3 pt-3 pb-0">
                    <h5>Upload Alokasi Petugas</h5>
                    <div class="mb-3">
                        <ol>
                            <li>Unduh template petugas: <br>
                                
                                <div class="mt-1">
                                    <input type="number" class="form-control  form-control-sm d-inline" style="width:150px;" placeholder="Jumlah baris data" alt="Masukan jumlah data" id="number_rows">   
                                    <button class="btn btn-primary btn-sm d-inline" id="get-templates-upload">Unduh</button>
                                </div>
                            </li>
                            <br>
                            <li>Upload file pada form berikut:</li>
                        </ol>
                    </div>

                    <form action="" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <label for="{{form_upload.import_file.id_for_label}}" class="form-label"><h5>{{ form_upload.import_file.label }}</h5></label>
                        <div class="mb-3">
                            {{form_upload.import_file}}
                        </div>
                    </form> 

                </div>
                <div class="px-3 pb-3">
                    <button type="button" class="btn btn-primary" id="btn-submit-file"><i class="mdi mdi-send me-1"></i> Upload file</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFilterLabel">Filter Alokasi Petugas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <h5>Filter by Survei</h5>
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex align-items-center">
                     <select class="form-select" id="survei-select-filter">
                        <option value="">Pilih Kegiatan</option>
                        {% for dt in data_survei  %}
                            <option value="{{ dt.id }}">{{ dt.nama }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <h5>Filter by Jabatan</h5>
        <div class="row">
            <div class="col-11">
                <div class="d-flex align-items-center">
                     <select class="form-select" id="jabatan-select-filter">
                        <option value="">Pilih Jabatan</option>
                        {% for dt in data_jabatan  %}
                            <option value="{{ dt.id }}">{{ dt.jabatan }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <button class="btn btn-danger mt-3" id="reset-filter">Clear Filter</button>
    </div>
</div>



{% endblock table-content %}

{% block tables-script-extend %}

<script>

    var table = $("#basic-datatable").DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            "url": "{% url 'master_petugas:datatable-json-alok' %}",
            "headers": {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            "type": "POST",
            "data": function (d){
                return $.extend({}, d, {
                    "survei_filter": $('#survei-select-filter').val(),
                    "jabatan_filter": $('#jabatan-select-filter').val(),
                })
            },
        },
        lengthMenu: [5, 25, 50, 100,'All'],
        columns :[
            {"data": 'petugas__kode_petugas'},
            {"data": 'petugas__nama_petugas'},
            {"data": 'survey__nama'},
            {"data" : 'role__jabatan'},
            {"data" : 'aksi'},
        ],
        columnDefs: [ {
            'targets': [4], /* column index */
            'orderable': false, /* true or false */
        }],
        keys: !0,
        language: {
            paginate: {
            previous: "<i class='mdi mdi-chevron-left'>",
            next: "<i class='mdi mdi-chevron-right'>",
            },
        },
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
        },
    });

    var swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-primary'},
        buttonsStyling: true
    })

    function editAlokPetugas(e){
        $('#formAlokPetugas').attr('action', "{% url 'master_petugas:update-alokasi' %}")
        $('#submitformAlokPetugas').html('Update Data')
    
        $.ajax({
            url: '{% url 'master_petugas:detail-alokasi' %}',
            type: "POST",
            dataType: "json",
            data : {
                'id' : e
            },
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (data) => {

                if (data.status == 'failed'){
                    Swal.fire(
                        'Terjadi Kesalahan!',
                         data.message,
                        'info'
                        )
                }else{
                    for (const [key, value] of Object.entries(data.instance)) {
                        $('#id_'+key).val(value)
                        console.log(key)
                    }
                    $('.nav-tabs a[href="#input-tab"]').tab('show');
                    table.ajax.reload();
                }
            },
            error: (error) => {
                console.log(error);
            }
        });
    }

    function deleteAlokasi(e){

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Apakah anda yakin ingin menghapus data mitra?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false
          }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: '{% url 'master_petugas:delete-alokasi' %}',
                    type: "POST",
                    dataType: "json",
                    data : {
                        'id' : e
                    },
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": '{{csrf_token}}',
                    },
                    success: (data) => {

                        if (data.status == 'success'){
                            Swal.fire(
                                'Deleted!',
                                data.message,
                                'success'
                                )
                            table.ajax.reload();
                        }else{
                            Swal.fire(
                                'Terjadi Kesalahan!',
                                 data.message,
                                'info'
                            )
                        }

                    },
                    error: (error) => {
                        console.log(error);
                    }
                });

            }
        }) 
    
    }

    function preview_excel(table_id, field_file_id){
        var input = $('#'+field_file_id).get(0).files[0]
        readXlsxFile(input).then(function(data){
           
            var i = 0
            $('#'+table_id+' tbody').html('') 
            data.map((row, index) =>{
                if (i==1){
                    var throws = '<tr>'
                        
                    for (var key of row.slice(0, 4)){
                        throws += '<th>' + key + '</th>'
                    }

                    throws += '</tr>'
                    $('#'+table_id+' thead').html(throws) 
                }
    
                if (i>1){
                    var tdrows = '<tr>'
                    var isnull = 0
                    for (var key of row.slice(0, 4)){
                        if ( key == null ){
                            isnull += 1
                        }
                        tdrows += '<td>' + key + '</td>'
                    }
                    tdrows += '</tr>'
                    if (isnull < 4) {
                        $('#'+table_id+' tbody').append(tdrows) 
                    }
                }
                i++
            })
            return true
    
        })
    }

    function resetForm(){
        $('#formAlokPetugas')[0].reset();
        $('.was-validated').removeClass('was-validated')
        $('#submitformAlokPetugas').html('Kirim Data')
        $('#formAlokPetugas').attr('action', "{% url 'master_petugas:alokasi' %}")
    }

    $('#survei-select-filter').bind("keyup change", function (){
        table.draw()
    })

    $('#jabatan-select-filter').bind("keyup change", function (){
        table.draw()
    })

    $('#ResetformAlokPetugas').on('click', function(e){
        resetForm()
    })

    $('#formAlokPetugas').on('submit', function(e){

        e.preventDefault()
        
        var serializedData = $(this).serialize();
        $('.invalid-feedback').html('')
        $('.is_invalid').removeClass('is_invalid')
        
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: serializedData,
            success: function (response) {
                
                if (response.status == 'success'){
                    $('#messages-content').html(response["message"])
                    $('#msgs-upload').removeClass('alert-danger')
                    $('#msgs-upload').addClass('alert-success')
                    $('#msgs-upload').removeClass('d-none')
                    table.ajax.reload();
                    resetForm()
                    $('.nav-tabs a[href="#alokasi-preview"]').tab('show');
                }else{
                    Swal.fire(
                        'Terjadi Kesalahan!',
                        response.message,
                        'info'
                    )
                }



            },
            error: function (response) {
                var errors = response["responseJSON"]["error"]
                for (const [key, value] of Object.entries(errors)) {
                    var msgs = '<ul>'
                    value.forEach(function (item, index) {
                    
                        msgs += '<li>'+item+'</li>'
                        });
                    
                    msgs += '</ul>'
                    $('#id_'+ key).addClass('is-invalid');
                    $('#msg-id_'+key).html(msgs)
                }    
            }
        })
    })

    $('#reset-filter').on('click', function (){
        $('#survei-select-filter').prop('selectedIndex',0);
        $('#jabatan-select-filter').prop('selectedIndex',0);
        table.draw();
    })

    $('#redraw-table').on('click', function (){
        table.draw();
    })

    $('#get-templates-upload').on('click', function(){

        var numrows = $('#number_rows').val()
        return window.location.replace("http://127.0.0.1:8000/alokasi-petugas/template/" + numrows);
    })

    $('#{{form_upload.import_file.id_for_label}}').on('change', function(){
        preview_excel('preview-data-upload', '{{form_upload.import_file.id_for_label}}')
    })

    $('#btn-submit-file').on('click', function(){
        $('#nav-item-import').removeClass('d-none')
        $('#import-modal').modal('toggle')
        $('.nav-tabs a[href="#import-tab"]').tab('show');

    })
   
    $('#confirm-submit-file').on('click', function(){

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: 'btn btn-primary'},
            buttonsStyling: true
          })
          
          swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Apakah anda yakin ingin mengupload data mitra?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, upload it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
          }).then((result) => {
            if (result.isConfirmed) {

                var data = new FormData();
                data.append("import_file", $('#{{form_upload.import_file.id_for_label}}').get(0).files[0])
             
                $.ajax({
                    type: 'POST',
                    url: '{% url 'master_petugas:upload-alokasi' %}',
                    data: data,
                    processData: false,
                    contentType: false,
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": '{{csrf_token}}',
                    },
                    success: function (response) {
                        
                        if (response.status == 'error'){

                            var content_msgs = '<strong>Terjadi kesalahan</strong> saat import data: <ol class="px-3 font-12">'

                            for (let i = 0; i < response.messages.length; i++) {
                                content_msgs += '<li>'+ response.messages[i] +'</li>'
                            }
                            
                            $('#messages-content').html(content_msgs)
                            $('#msgs-upload').removeClass('alert-success')
                            $('#msgs-upload').addClass('alert-danger')
                            $('#msgs-upload').removeClass('d-none')
                        }else{
                            var content_msgs = response.messages
                            
                            $('#messages-content').html(content_msgs)
                            $('#msgs-upload').removeClass('alert-danger')
                            $('#msgs-upload').addClass('alert-success')
                            $('#msgs-upload').removeClass('d-none')
                            table.ajax.reload();
    
                        }
                    },
                    error: function (xhr, status, error) {
                        return console.log(xhr.responseText['messages'])
                    }
                })
            } else if (
             
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire(
                'Cancelled',
                'Data successfully cancelled',
                'error'
              )
            }
        }) 
    })

</script>

{% endblock tables-script-extend %}